@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.katsuragi.cyou/fonts/TH/LINEseed-Regular');

@layer base {
  * {
    font-family: 'LINEseed-Regular', sans-serif;
  }
}

body {
  background: url(https://picsum.photos/1920/1080) no-repeat;
  background-position: center;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 80%;
  margin: auto 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: .1;
}